body {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#searchContent td {
    width: 90px;
    padding: 1px 5px 1px 5px;
}

.tableContent {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px;
}

    .tableContent .tableName {
        text-align: right;
        width: 100px;
    }

    .tableContent .tableValue input {
        width: 180px;
    }
