@using Napoleon.UserModule.Model
<!DOCTYPE html>

<html>
<head>
    <title></title>
    @RenderPage("~/Views/Shared/Easyui.cshtml")
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }

        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 20px;
        }

            table .tableName {
                text-align: right;
                width: 100px;
            }

            table .tableValue input {
                width: 180px;
            }
    </style>
</head>
<body>
    <div style="padding: 15px;">
        <form id="pwForm" method="post" data-options="novalidate:true">
            @{
                SystemUser user = (SystemUser) ViewData["User"];
                <table style="width: 100%;">
                    <tr>
                        <td class="tableName">用户账号:</td>
                        <td class="tableValue">
                            <input type="hidden" name="id" id="userId" value="@user.Id" />
                            <input name="userName" readonly="readonly" class="easyui-textbox" type="text" value="@user.UserName" data-options="required:true" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tableName">原密码:</td>
                        <td class="tableValue">
                            <input name="password" class="easyui-textbox" type="password" value="" data-options="required:true" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tableName">新密码:</td>
                        <td class="tableValue">
                            <input id="newPw" name="newPw" class="easyui-textbox" type="password" data-options="required:true" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tableName">确认密码:</td>
                        <td class="tableValue">
                            <input name="confirmPw" class="easyui-textbox" type="password" data-options="required:true" validtype="equalTo['#newPw']" />
                        </td>
                    </tr>
                </table>
            }
        </form>
        <div style="text-align: center;">
            <a class="easyui-linkbutton" id="savePw" data-options="iconCls:'icon-save'">保存</a>
        </div>
    </div>
    <script type="text/javascript">
        seajs.use(["Home/Index", "PublicFunc/Easyui"], function (index, easyui) {
            $(function () {
                $('#savePw').on('click', index.SavePw);
                easyui.ValidateExtend();
            });
        });
    </script>
</body>
</html>

