<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <link href="../../Content/Css/Error/Index.css" rel="stylesheet" />
    <link href="../../Content/Css/PublicCss/Button.css" rel="stylesheet" />
</head>
<body class="Body_Bg">
    <div class="Main index">
        <p class="Title">出错了,请尽快联系网站管理员！！！！！</p>
        <input id="BtnLogin" type="button" class="Btn blue" value="返回首页" onclick="ReturnIndex()" />
    </div>
    <script type="text/javascript">
        function ReturnIndex() {
            top.window.location.href = "/Home/Index";
        }
    </script>
</body>
</html>
