<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <script type="text/javascript">
            top.window.location.href = "/Login/Index";
        </script>
    </div>
</body>
</html>
