body {
    font-size: 12px;
}

.uset {
    display: inline;
    margin: 0 0 0 8px;
}

.user {
    color: #464646;
    float: right;
    text-align: right;
    margin: 15px 15px 10px 0;
    line-height: 21px;
}

    .user a {
        color: #464646;
        text-decoration: none;
    }

        .user a:hover {
            color: #F00;
        }
