@using Napoleon.UserModule.Model
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<div style="padding: 15px;">
    <form id="UpdateProjectForm" method="post" data-options="novalidate:true">
        @{
            SystemProject project = (SystemProject)ViewData["Project"];
        <table class="tableContent">
            <tr>
                <td class="tableName">系统代码:</td>
                <td class="tableValue">
                    <input name="projectId" readonly="readonly" class="easyui-textbox" type="text" value="@project.ProjectId" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td class="tableName">系统名称:</td>
                <td class="tableValue">
                    <input name="projectName" class="easyui-textbox" type="text" value="@project.ProjectName" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td class="tableName">操作者:</td>
                <td class="tableValue">
                    <input name="operator" readonly="readonly" class="easyui-textbox" type="text" value="@project.Operator" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td class="tableName">备注:</td>
                <td class="tableValue">
                    <input name="remark" style="height: 60px;" class="easyui-textbox" value="@project.Remark" type="text" data-options="multiline:true" />
                </td>
            </tr>
        </table>
        }
    </form>
    <div style="text-align: center;">
        <a class="easyui-linkbutton" id="UpdateProject" data-options="iconCls:'icon-save'">更新</a>
    </div>
</div>
<script type="text/javascript">
    seajs.use("Project/Index", function (index) {
        $(function () {
            $('#UpdateProject').on('click', index.UpdateProject);
        });
    });
</script>
