@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<div id="searchTool" class="datagrid-toolbar">
    <table>
        <tr id="LoadOperate">
            <td colspan="2">
                <div style="float: left;">
                    <input type="hidden" id="ProjectId" value='@ViewData["ProjectId"]' />
                    <a href="javascript:void(0);" id="FixedAdd" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" style="float: left;">新建</a>
                    <div class="datagrid-btn-separator"></div>
                </div>
                <div style="float: left;">
                    <a href="javascript:void(0);" id="FixedEdit" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" style="float: left;">编辑</a>
                    <div class="datagrid-btn-separator"></div>
                </div>
                <div style="float: left;">
                    <a href="javascript:void(0);" id="FixedDelete" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" style="float: left;">删除</a>
                    <div class="datagrid-btn-separator"></div>
                </div>
                <div style="float: left;">
                    <a href="javascript:void(0);" id="FixedRulePermit" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true" style="float: left;">角色权限</a>
                    <div class="datagrid-btn-separator"></div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="gridTool">
</div>
<div id="myWindow"></div>
<script type="text/javascript">
    seajs.use("Rule/Index", function (index) {
        $(function () {
            var projectId = $('#ProjectId').val();
            index.LoadGrid(projectId);
            index.LoadBody(40);
            $('#FixedAdd').on('click', function () { index.FixedAdd(projectId); });
            $('#FixedEdit').on('click', index.FixedEdit);
            $('#FixedDelete').on('click', index.FixedDelete);
            $('#FixedRulePermit').on('click', index.FixedRulePermit);
        });
    });
</script>


