

.Btn {
    width: 96px;
    height: 35px;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.blue {
    background: url(../../Image/Button/short_blue.png) no-repeat;
}

.grey {
    background: url('../../Image/Button/short_grey.png') no-repeat;
}
