@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<div style="padding: 15px;">
    <form id="addUserForm" method="post" data-options="novalidate:true">
        <table class="tableContent">
            <tr>
                <td class="tableName">用户账号:</td>
                <td class="tableValue">
                    <input name="userName" class="easyui-textbox" type="text" value="" data-options="required:true" />
                </td>
                <td class="tableName">真实姓名:</td>
                <td class="tableValue">
                    <input name="realName" class="easyui-textbox" type="text" value="" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td class="tableName">联系电话:</td>
                <td class="tableValue">
                    <input id="mobilePhone" name="mobilePhone" class="easyui-textbox" type="text" />
                </td>
                <td class="tableName">是否启用:</td>
                <td class="tableValue">
                    <input id="isUse" name="isUse" type="text" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td class="tableName">用户地址:</td>
                <td class="tableValue">
                    <input name="userAddress" class="easyui-textbox" type="text" />
                </td>
                <td class="tableName">排序:</td>
                <td class="tableValue">
                    <input name="sort" class="easyui-numberbox" precision="2" type="text" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td class="tableName">所属项目:</td>
                <td class="tableValue">
                    <input id="projectId" name="projectId" type="text" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td class="tableName">备注:</td>
                <td colspan="3" class="tableValue">
                    <input name="remark" style="height: 60px; width: 100%;" class="easyui-textbox" type="text" data-options="multiline:true" />
                </td>
            </tr>
        </table>
    </form>
    <div style="text-align: center;">
        <a class="easyui-linkbutton" id="saveAdd" data-options="iconCls:'icon-save'">保存</a>
    </div>
</div>
<script type="text/javascript">
    seajs.use(["User/Index", "PublicJs/Frame/Easyui"], function (index, easyui) {
        $(function () {
            easyui.LoadCombobox("#isUse", '/User/LoadIsUse');
            easyui.LoadCombobox("#projectId", '/User/LoadProject');
            $('#saveAdd').on('click', index.SaveAdd);
        });
    });
</script>
