<!DOCTYPE html>

<html>
<head>
    <title></title>
    @RenderPage("~/Views/Shared/Easyui.cshtml")
    <link href="../../Content/Css/PublicCss/DataGrid.css" rel="stylesheet" />
</head>
<body>
    <div id="searchTool" class="datagrid-toolbar">
        <table>
            <tr id="searchContent">
                <td align="right">操作人
                </td>
                <td align="left">
                    <input type='text' id='userName' class='easyui-textbox' size='20' />
                </td>
                <td align="center">日志内容
                </td>
                <td align="left">
                    <input type='text' id='content' class='easyui-textbox' size='20' />
                </td>
                <td align="right">日志时间
                </td>
                <td align="left">
                    <input type='text' id='datetime1' class='easyui-datebox' size='20' />
                </td>
                <td align="center">到
                </td>
                <td align="left">
                    <input type='text' id='datetime2' class='easyui-datebox' size='20' />
                </td>
            </tr>
            <tr id="LoadOperate">
            </tr>
        </table>
    </div>
    <div id="gridTool">
    </div>
    <script type="text/javascript">
        seajs.use("Log/Index", function (index) {
            $(function () {
                index.LoadOperate("#LoadOperate");
                index.LoadGrid();
                index.LoadBody();
                $('#FixedSearch').on('click', index.FixedSearch);
                $('#FixedExcel').on('click', index.FixedExcel);
                $('#FixedInfo').on('click', index.FixedInfo);
            });
            $(window).resize(function () {
                index.LoadBody();
            });
        });
    </script>
</body>
</html>
